name: E2E

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8.15.4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install
      - run: pnpm build
      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps chromium
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
      - name: Run E2E tests
        run: pnpm e2e:test
        env:
          PLAYWRIGHT_BROWSERS_PATH: 0
